<html>

<head>
  <link rel="stylesheet" href="/static/Landing_page.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body >
  <div class="main_container">
    <img class="tree_img" src="/static/images/Landing_page_img.gif" alt="NotFound">
    <div class="landing_pg_txt">
      <h1 class="WebName">
        Easify
      </h1>
      <p class="Moto">
        <span class="high_lighted">Internship</span> seekers and <span class="high_lighted">startups</span>, meet here! <br>Get <span class="high_lighted2">experience</span>, build <span class="high_lighted2">projects</span>, and grow together
      </p>     
      <div class="Join_as">
        JOIN AS
      </div>
      <div class="Choose">
        
        <button id="startup_intern_btn1" onclick="choice_startup()"><span id="btn_txt1">StartUp</span></button>
        <button id="startup_intern_btn2" onclick="choice_intern()"><span id="btn_txt2">Intern</span></button>
      </div>
    </div>
  </div>
  <script src="/static/Landing_page.js"></script>
</body>

</html>
